<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Kayak'spots ;)</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylesignup.css">
    <!--Stylesheet-->
    <style media="screen"> </style>
</head>
<body>
    <div class="background">
    </div>
    <form action="/signupverif" method="post">

        <a href="/">
            <input id="redirect" type="button" value="-> Log in <-" />
        </a>

        <h3>Sign Up Here !</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username">

        <label for="passwordd">Password</label>
        <input type="password" placeholder="Password" id="passwordd" name="passwordd">

        <label for="email">E-m@il</label>
        <input type="email" placeholder="E-m@il" id="email" name="email">

        <input id="submit" type="submit" value="Submit">

    </form>
</body>
</html>

